@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: Presicav;
  src: url("../public/fonts/PresicavRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Presicav;
  src: url("../public/fonts/PresicavBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: DaysOfType;
  src: url("../public/fonts/36DaysOfType.otf") format("opentype");
}

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
  /* Main Colors and Fonts*/
  --text-primary: white;
  --color-focus-primary: #F2E2F659;
  --color-tertiary: #E95A85;
  --font-presicav: "Presicav", sans-serif;
  --font-36days: "DaysOfType", sans-serif;

  /* Main gradient colors */
  --gradient-stop-1: #070A0F;
  --gradient-stop-2: #2F4061;
  --gradient-stop-3: #7E81A6;
  --gradient-stop-4: #C7BCD8;
  
  /* Overlay gradient colors */
  --overlay-color: #F0ABFF1F;
  --overlay-transparency: 90%;
  --overlay-position: 3%;
  
  /* Secondary overlay */
  --secondary-overlay-color: #F2E2F659;
  --secondary-overlay-transparency: 35%;
  --secondary-overlay-position: 120%;
}

/*set theme colors here. you can use these in tailwind as [text/bg]-<primary/text-primary>*/
@theme {
  --color-primary: var(--text-primary);
  --color-secondary: var(--overlay-color);
  --color-tertiary: var(--color-tertiary);
  --font-presicav: var(--font-presicav);
  --font-36days: var(--font-36days);
  --color-focus-primary: var(--color-focus-primary);

  @keyframes pulse-glow {
    0%, 100% { 
      filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
    }
    50% { 
      filter: drop-shadow(0 0 22px rgba(255, 255, 255, 0.6)) drop-shadow(0 0 40px rgba(255, 255, 255, 0.3));
    }
  }

  --animate-pulse-glow: pulse-glow 5s ease-in-out infinite;
  --animate-pulse-glow: pulse-glow 5s cubic-bezier(0.2, -0.3, 0.2, 1) infinite;

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-slow-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  --animate-spin-slow: spin-slow 30s linear infinite;
  --animate-spin-slow-reverse: spin-slow-reverse 30s linear infinite;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /*:root {*/
  /*  --background: #0a0a0a;*/
  /*  --foreground: #ededed;*/
  /*}*/
}

/* consider putting background styles in separate div */
body {
  color: var(--color-primary);
  color: white;
  font-family: "Noto Sans", sans-serif;
  background: 
    radial-gradient(ellipse 80% 20% at var(--overlay-position) 40%, var(--overlay-color), transparent var(--overlay-transparency)),
    radial-gradient(ellipse 250% 80% at 70% var(--secondary-overlay-position), var(--secondary-overlay-color), transparent var(--secondary-overlay-transparency)),
    linear-gradient(to bottom, 
      var(--gradient-stop-1) 0%, 
      var(--gradient-stop-2) 69%,
      var(--gradient-stop-3) 120%);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;

}
