@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: Presicav;
  src: url("../public/fonts/PresicavRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: "Noto Sans", sans-serif;
  --font-tech: "Noto Sans", sans-serif;

  /* Main gradient colors */
  --gradient-stop-1: #070A0F;
  --gradient-stop-2: #2F4061;
  --gradient-stop-3: #7E81A6;
  --gradient-stop-4: #C7BCD8;
  
  /* Overlay gradient colors */
  --overlay-color: #F0ABFF1F;
  --overlay-transparency: 90%;
  --overlay-position: 3%;
  
  /* Secondary overlay */
  --secondary-overlay-color: #F2E2F659;
  --secondary-overlay-transparency: 35%;
  --secondary-overlay-position: 120%;
}

/*set theme colors here. you can use these in tailwind as [text/bg]-<primary/text-primary>*/
@theme {
  --color-primary: white;
  --color-text-primary: white;
  --font-main: var(--font-main);
  --font-tech: var(--font-tech);
  --font-presicav: Presicav, "sans-serif";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* consider putting background styles in separate div */
body {
  color: var(--foreground);
  font-family: var(--font-main);
  background: 
    radial-gradient(ellipse 80% 20% at var(--overlay-position) 40%, var(--overlay-color), transparent var(--overlay-transparency)),
    radial-gradient(ellipse 250% 80% at 70% var(--secondary-overlay-position), var(--secondary-overlay-color), transparent var(--secondary-overlay-transparency)),
    linear-gradient(to bottom, 
      var(--gradient-stop-1) 0%, 
      var(--gradient-stop-2) 69%,
      var(--gradient-stop-3) 120%);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;

}
