@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: Presicav;
  src: url("../public/fonts/PresicavRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Presicav;
  src: url("../public/fonts/PresicavBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: DaysOfType;
  src: url("../public/fonts/36DaysOfType.otf") format("opentype");
}

@font-face {
  font-family: NeuropolXFree;
  src: url("../public/fonts/neuropolx.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /*Main Colors and Fonts*/
  /*put your color if it will get reused a lot here*/

  /*Main Gradient Colors*/
  --gradient-stop-1: #206DDF;
  --gradient-stop-2: #A6EFFF;



  /*--------- old temp landing site ----------*/
  /* Main Colors and Fonts*/
  /*--text-primary: white;*/
  /*--color-focus-primary: #F2E2F659;*/
  /*--color-tertiary: #E95A85;*/
  /*--font-presicav: "Presicav", sans-serif;*/
  /*--font-36days: "DaysOfType", sans-serif;*/
  --font-neuropol: "NeuropolXFree", sans-serif;
  /**/
  /* Main gradient colors */
  /*--gradient-stop-1: #070A0F;*/
  /*--gradient-stop-2: #2F4061;*/
  /*--gradient-stop-3: #7E81A6;*/
  /*--gradient-stop-4: #C7BCD8;*/
  /**/
  /* Overlay gradient colors */
  /*--overlay-color: #F0ABFF1F;*/
  /*--overlay-transparency: 90%;*/
  /*--overlay-position: 3%;*/
  /**/
  /* Secondary overlay */
  /*--secondary-overlay-color: #F2E2F659;*/
  /*--secondary-overlay-transparency: 35%;*/
  /*--secondary-overlay-position: 120%;*/
}

/*set theme colors here. you can use these in tailwind as [text/bg]-<primary/text-primary>*/
@theme {

  /*add your color, font, etc. here*/
  /*--color-primary: var(--text-primary);*/
  /*--color-secondary: var(--overlay-color);*/
  /*--color-tertiary: var(--color-tertiary);*/
  /*--font-presicav: var(--font-presicav);*/
  /*--font-36days: var(--font-36days);*/
  /*--color-focus-primary: var(--color-focus-primary);*/
  --color-bg-gradient-stop-1: var(--gradient-stop-1);
  --color-bg-gradient-stop-2: var(--gradient-stop-2);



  /*------------ olt temp landing site ------------*/
  /*--color-primary: var(--text-primary);*/
  /*--color-secondary: var(--overlay-color);*/
  /*--color-tertiary: var(--color-tertiary);*/
  /*--font-presicav: var(--font-presicav);*/
  /*--font-36days: var(--font-36days);*/
  --font-neuropol: var(--font-neuropol);
  /*--color-focus-primary: var(--color-focus-primary);*/
  /**/
  /*@keyframes pulse-glow {*/
  /*  0%, 100% { */
  /*    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));*/
  /*  }*/
  /*  50% { */
  /*    filter: drop-shadow(0 0 22px rgba(255, 255, 255, 0.6)) drop-shadow(0 0 40px rgba(255, 255, 255, 0.3));*/
  /*  }*/
  /*}*/
  /**/
  /*--animate-pulse-glow: pulse-glow 5s ease-in-out infinite;*/
  /*--animate-pulse-glow: pulse-glow 5s cubic-bezier(0.2, -0.3, 0.2, 1) infinite;*/
  /**/
  /*@keyframes spin-custom {*/
  /*  from {*/
  /*    transform: rotate(0deg);*/
  /*  }*/
  /*  to {*/
  /*    transform: rotate(360deg);*/
  /*  }*/
  /*}*/
  /**/
  /*@keyframes spin-custom-reverse {*/
  /*  from {*/
  /*    transform: rotate(0deg);*/
  /*  }*/
  /*  to {*/
  /*    transform: rotate(-360deg);*/
  /*  }*/
  /*}*/
  /*--animate-spin-slow: spin-custom 30s linear infinite;*/
  /*--animate-spin-slow-reverse: spin-custom-reverse 30s linear infinite;*/
  /*--animate-spin-fast: spin-custom 10s linear infinite;*/
  /*--animate-spin-fast-reverse: spin-custom-reverse 10s linear infinite;*/
}

/**/
/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

@media (prefers-color-scheme: dark) {
  /*:root {*/
  /*  --background: #0a0a0a;*/
  /*  --foreground: #ededed;*/
  /*}*/
}

body {
  background: linear-gradient(to bottom, var(--gradient-stop-1), var(--gradient-stop-2));
  color: black;
  font-family: "Noto Sans", sans-serif;
  background-attachment: fixed;
}

.text-outline-blue {
  color: white;
  -webkit-text-stroke: 0.02em #125DC7;
  -webkit-text-fill-color: white;
  text-shadow: 4.4px 2.2px 4.62px rgba(2, 0, 66, 0.29);
}